<form [formGroup]="form">
  <mat-card>
      <mat-card-header>
        <mat-card-title>Login: </mat-card-title>
      </mat-card-header>
        <mat-card-content>
          <mat-input-container color="" align='' class="full-width">
            <input matInput type="text" placeholder="Your email" formControlName="email">
            <!-- <span matprefix></span>
            <span matSuffix></span> -->
          </mat-input-container>
          <mat-input-container color="" align='' class="full-width">
            <input matInput type="password" placeholder="Your password" formControlName="password">
          </mat-input-container>
          <button mat-raised-button color="primary" type="button">Login</button>
        </mat-card-content>
      <mat-card-actions class="text-right reset-password">
        <p><a routerLink="/register">Create account here</a></p>
        <p><a href="">Forget password?</a></p>
        <p></p>
      </mat-card-actions>
    </mat-card>
</form>
