<form>
  <mat-card>
      <mat-card-header>
        <mat-card-title>Login: </mat-card-title>
      </mat-card-header>
        <mat-card-content>
          <mat-input-container color="" align='' class="full-width">
            <input matInput type="text" placeholder="Your email">
            <!-- <span matprefix></span>
            <span matSuffix></span> -->
          </mat-input-container>
          <mat-input-container color="" align='' class="full-width">
            <input matInput type="password" placeholder="Your password">
          </mat-input-container>
          <button mat-raised-button color="primary" type="button">Login</button>
        </mat-card-content>
      <mat-card-actions>
        <p>Dont't have an account?<a href="">Create account</a></p>
        <p>Forget password?<a href="">Found password</a></p>
        <p></p>
      </mat-card-actions>
    </mat-card>
</form>
