<form action="">
  <h2 mat-dialog-title>Invite user</h2>
  <div mat-dialog-content>
  <mat-input-container color="" align='' class="full-width">
    <input matInput type="text" placeholder="User name" [matAutocomplete]="autoMembers">
  </mat-input-container>    
  <mat-input-container color="" align='' class="full-width">
    <input matInput type="text" placeholder="project detail">
  </mat-input-container>    
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary">Save</button>
    <button type="button" mat-button mat-dialog-close (click)="onCloseClick()">Close</button>
  </div>
</form>
<mat-autocomplete #autoMembers="matAutocomplete">
  <mat-option *ngFor="let item of items" [value]="item.name">
    {{item.name}}
  </mat-option>
</mat-autocomplete>